extends layout

block content
  p#score Current Score:
    span {{user.score}}
  p#timer Timer:
    span {{timer.show_clock()}} sec
  .buttons-bar
    .btn.btn-default.btn-primary(ng-click='start_game()', ng-show='timer.interval === null && timer.clock != 0') Start Game
    .btn.btn-default.btn-warning(ng-click='stop_game()', ng-hide='timer.interval === null') Pause
    .btn.btn-default.btn-primary(ng-click='restart_game()', ng-show='timer.clock != 0') Restart
  #game-grid
    ng-view

